<% cache topic do %>
	<div class="topic clearfix">
		<div class="pull-left avatar">
		    <%= link_to image_tag('a.png', :width => "48px"), '#' %>
		</div>
		
		<div class="rightinfo">
			<% if topic.replies_count > 0 %>
				<div class="comments_count pull-right">
					<%= link_to topic.replies_count, topic %>
				</div>
			<% end %>
			
			<div class="infos">
				<h3><%= link_to topic.title, topic %></h3>
				<small>
					<%= link_to topic.node.name %> * 
					<%= link_to topic.user.email, '#' %> *
				  <abbr class="timeago" title="<%= topic.created_at.to_time.iso8601 %>"></abbr> published
				</small>
			</div>
		</div>
	</div>
<% end %>